<div class="contrast-mode element-disabled">
  <div class="contrast-mode__item">
    <div class="contrast-mode__item-text">Размер<br>шрифта</div>
    <div class="contrast-mode__item-content">
      <div class="contrast-mode__item-content-font contrast-mode__item-content-font_small" title="Маленький шрифт">A</div>
      <div class="contrast-mode__item-content-font contrast-mode__item-content-font_medium" title="Обычный шрифт">A</div>
      <div class="contrast-mode__item-content-font contrast-mode__item-content-font_large" title="Большой шрифт">A</div>
    </div>
  </div>
  <div class="contrast-mode__item">
    <div class="contrast-mode__item-text">Цвет<br>сайта</div>
    <div class="contrast-mode__item-content">
      <div class="contrast-mode__item-cube contrast-mode__item-cube-button-white" title="Стандартный стиль"></div>
      <div class="contrast-mode__item-cube contrast-mode__item-cube-button-black contrast-mode__item-cube_dark" title="Контрастный стиль"></div>
    </div>
  </div>
  <div class="contrast-mode__item">
    <div class="contrast-mode__item-text">Изображения</div>
    <div class="contrast-mode__item-content contrast-mode__item-content-switch-off">
      <div class="contrast-mode__item-switch contrast-mode__item-cube_dark"></div>
      <div class="contrast-mode__item-switch contrast-mode__item-switch-button contrast-mode__item-switch-off">ВЫКЛ</div>
    </div>
    <div class="contrast-mode__item-content contrast-mode__item-content-switch-on element-disabled">
      <div class="contrast-mode__item-switch contrast-mode__item-switch-button contrast-mode__item-switch-on">ВКЛ</div>
      <div class="contrast-mode__item-switch contrast-mode__item-cube_dark"></div>
    </div>
  </div>
  <div class="contrast-mode__item">
    <div class="contrast-mode__item-content">
      <button class="contrast-mode__item-text contrast-mode__item-content-big-button contrast-mode__item-content-big-button-hide" title="Скрыть меню">Скрыть<br>меню</button>
    </div>
  </div>
</div>