<header class="header">
  <nav class="header__main-menu element-orange header__main-menu_hidden element-disabled">
    <div class="header__main-menu-container">
      <ul class="header__main-menu-list list list_unmarked">
        <li class="header__main-menu-list-item list__item">
          <p class="list__title header__main-menu-list-title header__main-menu-list-element">ПАЦИЕНТАМ</p>
          <ul class="header__main-menu-second-list list list_unmarked">
            <li class="list__item">
              <a href="/shedule" class="list__link header__main-menu-list-element">Расписание</a>
            </li>
            <li class="list__item">
              <a href="/activities" class="list__link header__main-menu-list-element">Основные виды деятельности</a>
            </li>
            <li class="list__item">
              <a href="/prophylaxy" class="list__link header__main-menu-list-element">Профилактика</a>
            </li>
            <li class="list__item">
              <a href="#" class="list__link header__main-menu-list-element">Запись на прием</a>
            </li>
            <li class="list__item">
              <a href="#" class="list__link header__main-menu-list-element">ГОСУСЛУГИ запись на прием</a>
            </li>
            <li class="list__item">
              <a href="/writetous" class="list__link header__main-menu-list-element">Написать нам</a>
            </li>
            <li class="list__item">
              <a href="#" class="list__link header__main-menu-list-element">Прочая информация</a>
            </li>
          </ul>
        </li>
        <li class="header__main-menu-list-item list__item">
          <a href="/paidservices" class="list__title header__main-menu-list-title header__main-menu-list-element">ПЛАТНЫЕ УСЛУГИ</a>
        </li>
        <li class="header__main-menu-list-item list__item">
          <a href="/about" class="list__title header__main-menu-list-title header__main-menu-list-element">О НАС</a>
        </li>
        <li class="header__main-menu-list-item list__item">
          <p class=" list__title header__main-menu-list-title header__main-menu-list-element">КОНТАКТЫ</p>
          <ul class="header__main-menu-second-list list list_unmarked">
          <li class="list__item">
          <a href="/contacts" class="list__link header__main-menu-list-element">Контакты больницы</a>
        </li>
        <li class="list__item">
          <a href="/vacancy" class="list__link header__main-menu-list-element">Вакансии</a>
        </li>
          </ul>
          </li>
        <li class="header__main-menu-list-item list__item">
          <p class="list__title header__main-menu-list-title header__main-menu-list-element">ПРОТИВО&shy;КОРУПЦИОННЫЕ<br>ДЕЙСТВИЯ</p>
          <ul class="header__main-menu-second-list list list_unmarked">
            <li class="list__item">
              <a href="/corruption" class="list__link header__main-menu-list-element">Комиссия по противодействию коррупции</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="header__container header__left-container">
    <div class="header__button-main-menu header__button"></div>
    <a href="/" class="header__logo" title="Главная страница">Хвойнинская ЦРБ</a>
  </div>
  <div class="header__container header__right-container">
    <div class="header__contrast-mode" title="Версия для слабовидящих">
      <div class="header__contrast-mode-help">
        Версия<br>
        для<br>
        слабовидящих
      </div>
      <div class="header__button header__button-contrast-mode"></div>
    </div>
    <form class="header__search">
      <div class="header__search-container">
        <input type="text" class="header__search-input">
      </div>
      <button class="header__button header__button-search" type="submit"></button>
    </form>
  </div>
</header>