@import url(./contrast-mode__item.css);
@import url(./contrast-mode__item_content.css);
@import url(./contrast-mode__item_switch.css);
@import url(./contrast-mode__item_cube.css);
@import url(./contrast-mode__item_cube_dark.css);
@import url(./contrast-mode__item_text.css);
@import url(./contrast-mode__item_content_big-button.css);
@import url(./contrast-mode__item_content_font.css);
@import url(./contrast-mode__item_content_font_small.css);
@import url(./contrast-mode__item_content_font_medium.css);
@import url(./contrast-mode__item_content_font_large.css);

.contrast-mode {
  background-color: var(--color-primary-bg);
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}