.contrast-mode__item-content-big-button {
  background-color: var(--color-primary-bg);
  color: var(--color-primary-text);
  border: 1px solid var(--color-primary-text);
  padding: 0 80px;
  height: 132px;
  box-sizing: border-box;
  cursor: pointer;
}

@media (max-width:1023px) {
  .contrast-mode__item-content-big-button {
    height: 40px;
    padding: 0 20px;
  }
}