@import url(./contrast-mode__item.css);
@import url(./contrast-mode__item-content.css);
@import url(./contrast-mode__item-switch.css);
@import url(./contrast-mode__item-cube.css);
@import url(./contrast-mode__item-cube_dark.css);
@import url(./contrast-mode__item-text.css);
@import url(./contrast-mode__item-content-big-button.css);
@import url(./contrast-mode__item-content-font.css);
@import url(./contrast-mode__item-content-font_small.css);
@import url(./contrast-mode__item-content-font_medium.css);
@import url(./contrast-mode__item-content-font_large.css);

.contrast-mode {
  background-color: var(--color-primary-bg);
  min-height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}