.contrast-mode__item-content-font_large {
  font-size: 45rem;
  line-height: 50rem;
  width: 50px;
}

@media (max-width:1023px) {
  .contrast-mode__item-content-font_large {
    font-size: 20rem;
    line-height: 30rem;
    width: 30px;
  }
}