.contrast-mode__item-cube {
  display: inline-block;
  margin-left: 14px;
  width: 41px;
  height: 41px;
  border: 1px solid var(--color-primary-text);
  background-color: var(--color-primary-bg);
  cursor: pointer;
}

@media (max-width:1023px) {
  .contrast-mode__item-cube {
    width: 20px;
    height: 20px;
  }
}