.section__subtitle-paragraph-big {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 37px;
  letter-spacing: 0.015em;
  color: var(--color-primary-text);
}

.element-orange .section__subtitle-paragraph-big {
  color: var(--color-opposite-text);
}

@media (max-width:1499px) {
  .section__subtitle-paragraph-big {
    font-size: 12px;
    line-height: 16px;
  }
}