.section__mini-title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: 0.015em;
  color: var(--color-primary-text);
}

.element_orange .section__mini-title {
  color: var(--color-opposite-text);
}

@media (max-width:1499px) {
  .section__mini-title {
    margin-top: 62px;
    font-size: 30px;
    line-height: 35px;
  }
}

@media (max-width:1023px) {
  .section__mini-title {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 22px;
  }
}