@media (max-width:1499px) {
  .section__text-container-flex {
    display: flex;
    flex-direction: column;
    max-height: 550px;
    flex-wrap: wrap;
    margin-top: 85px;
    margin-bottom: 35px;
  }
}

@media (max-width:1023px) {
  .section__text-container-flex {
    margin: 0;
    max-height: inherit;
  }
}