@import url(./section_center.css);
@import url(./section__button.css);
@import url(./section__title.css);
@import url(./section__subtitle.css);
@import url(./section__subtitle_big-margin.css);
@import url(./section__subtitle_p.css);
@import url(./section__subtitle_p_big.css);
@import url(./section__text-container.css);
@import url(./section__text-container_no-padding.css);
@import url(./section__big-link.css);
@import url(./section__spoiler.css);
@import url(./section__spoiler_link.css);
@import url(./section__spoiler_arrow.css);
@import url(./section__list_item.css);
@import url(./section__list_item_link.css);
@import url(./section__mini-title.css);
@import url(./section__mini-subtitle.css);
@import url(./section__h4-title.css);
@import url(./section__download-link.css);

.section {
  min-height: 1080px;
  background-color: var(--color-global-bg);
  display: grid;
  grid-template-rows: 1fr;
}