.section__subtitle_p_big {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 37px;
  letter-spacing: 0.015em;
  color: var(--color-primary-text);
}

.element_orange .section__subtitle_p_big {
  color: var(--color-opposite-text);
}