.section__big-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 0.015em;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

.element-orange .section__big-link {
  color: var(--color-opposite-text);
}

@media (max-width:1499px) {
  .section__big-link {
    font-size: 30px;
    line-height: 64px;
  }
}

@media (max-width:1023px) {
  .section__big-link {
    font-size: 40px;
  }
}