.section__mini-title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: 0.015em;
  color: var(--color-primary-text);
}

.element_orange .section__mini-title {
  color: var(--color-opposite-text);
}