.section__spoiler_link {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 36px;
  letter-spacing: 0.015em;
  text-transform: uppercase;
  color: var(--color-primary-text);
}

.element_orange .section__spoiler_link {
  color: var(--color-opposite-text);
}