.section__download-link {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 22rem;
  letter-spacing: 0.015em;
  color: var(--color-primary-text);

  text-decoration: none;
  min-height: 40px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  padding-left: 70px;
  background: url('../../images/arrow_orange.png') left center no-repeat;
}

.contrast .section__download-link {
  background: url('../../images/arrow_black.png') left center no-repeat;
}

@media (max-width:1023px) {
  .section__download-link {
    font-size: 12rem;
    line-height: 16rem;
    margin-bottom: 26px;
  }
}