.section__subtitle-paragraph {
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 20rem;
  line-height: 22rem;
  letter-spacing: 0.015em;
  color: var(--color-primary-text);
}

.element-orange .section__subtitle-paragraph {
  color: var(--color-opposite-text);
}

@media (max-width:1499px) {
  .section__subtitle-paragraph {
    font-size: 12rem;
    line-height: 14rem;
  }
}