.footer__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 34rem;
  line-height: 93rem;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  border-bottom: 2px solid var(--color-opposite-text);
  color: var(--color-opposite-text);
  margin: 0px;
  margin-bottom: 39px;
}

@media (max-width:1023px) {
  .footer__title {
    font-size: 20rem;
    line-height: 79rem;
    margin-bottom: 322px;
  }
}