.grid__cell_span2 {
  grid-column: span 2;
}

.grid__cell_span3 {
  grid-column: span 3;
}

.grid__cell_span4 {
  grid-column: span 4;
}

.grid__cell_span5 {
  grid-column: span 5;
}

.grid__cell_span6 {
  grid-column: span 6;
}

.grid__cell_span7 {
  grid-column: span 7;
}

.grid__cell_span8 {
  grid-column: span 8;
}

.grid__cell_span9 {
  grid-column: span 9;
}

.grid__cell_span10 {
  grid-column: span 10;
}

.grid__cell_span12 {
  grid-column: span 12;
}

.grid__cell_span14 {
  grid-column: span 14;
}

.grid__cell_row-span2 {
  grid-row: span 2;
}