.grid__title {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.015em;
  line-height: 16px;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 38px;

  text-align: left;
  color: var(--color-primary-text);
  border-top: 1px solid var(--color-primary-text);
  border-left: 1px solid var(--color-primary-text);
  box-sizing: border-box;
}

@media (max-width:1499px) {
  .grid__title {
    border: none;
    border-bottom: 1px solid var(--color-primary-text);
    padding: 0;
    font-size: 18px;
    line-height: 31px;
    background: url(../../images/grid__title-opened-arrow.png) right center no-repeat;
    cursor: pointer;
  }

  .grid__header .grid__title {
    display: none;
  }

  .contrast .grid__title {
    background: url(../../images/grid__title-opened-arrow_black.png) right center no-repeat;
  }
}

@media (max-width:1023px) {
  .grid__title {
    font-size: 12px;
    line-height: 24px;
  }
}