.grid__cell {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.015em;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

  color: var(--color-primary-text);
  border-top: 1px solid var(--color-primary-text);
  border-left: 1px solid var(--color-primary-text);
  box-sizing: border-box;
}

@media (max-width:1499px) {
  .grid__cell {
    border: none;
    border-left: 1px solid var(--color-primary-text);
    border-bottom: 1px solid var(--color-primary-text);
    font-size: 18px;
    line-height: 18px;
  }
}

@media (max-width:1023px) {
  .grid__cell {
    font-size: 12px;
    line-height: 14px;
  }
}