.contacts__item-title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 34rem;
  line-height: 36rem;
  color: var(--color-primary-text);
  letter-spacing: 0.015em;
  text-transform: uppercase;
}

@media (max-width:1499px) {
  .contacts__item-title {
    font-size: 30rem;
    line-height: 32rem;
  }
}

@media (max-width:1023px) {
  .contacts__item-title {
    font-size: 20rem;
    line-height: 22rem;
  }
}
