.list__title {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 52px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-primary-text);
  cursor: pointer;
}

.element_orange .list__title {
  color: var(--color-opposite-text);
}

.element_gray .list__title {
  color: var(--color-opposite-text);
}