.list__link {
  font-family: 'Work Sans', sans-serif;
  font-size: 18rem;
  line-height: 22rem;
  padding: 11px 0;
  text-decoration: none;
  color: var(--color-primary-text);
  display: block;
}

.element-orange .list__link {
  color: var(--color-opposite-text);
}

.element-gray .list__link {
  color: var(--color-opposite-text);
}