.list__link {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  line-height: 22px;
  padding: 11px 0;
  text-decoration: none;
  color: var(--color-primary-text);
  display: block;
}

.element_orange .list__link {
  color: var(--color-opposite-text);
}

.element_gray .list__link {
  color: var(--color-opposite-text);
}