.header__search_input {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.015em;
  color: var(--color-gray-bg);
  border: none;
  border-bottom: 1px solid var(--color-gray-bg);
  background-color: inherit;
  margin: 0 137px;
  width: 100%;
}