.header__container_right {
  background: var(--color-opposite-bg);
  display: flex;
  justify-content: flex-end;
  position: relative;
}

@media (max-width:1279px) {
  .header__container_right {
    position: initial;
  }
}