.header__contrast-mode {
  display: flex;
  align-content: center;
  width: inherit;
  border-left: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
}

@media (max-width:1499px) {
  .header__contrast-mode {
    border: none;
  }
}

@media (max-width:424px) {
  .header__contrast-mode {
    display: none;
  }
}