@import url(./header__logo.css);
@import url(./header__container_left.css);
@import url(./header__container_right.css);
@import url(./header__main-menu.css);
@import url(./header__main-menu_hidden.css);
@import url(./header__main-menu_button.css);
@import url(./header__main-menu_container.css);
@import url(./header__main-menu_list.css);
@import url(./header__main-menu_second-list.css);
@import url(./header__button.css);
@import url(./header__button_search.css);
@import url(./header__search.css);
@import url(./header__contrast-mode.css);
@import url(./header__contrast-mode_help.css);
@import url(./header__search_container.css);
@import url(./header__search_input.css);

.header {
  background: var(--color-gray-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 132px;
}

@media (max-width:1279px) {
  .header {
    grid-template-columns: 1fr auto;

    position: relative;
  }
}