.header__button-main-menu {
  cursor: pointer;
  background: url(../../images/header__main-menu-icon.svg) center center no-repeat var(--color-black-bg);
}

.element_orange .header__button-main-menu {
  background-image: url(../../images/header__main-menu-icon_white.svg);
}

@media (max-width:1023px) {
  .header__button-main-menu {
    background-size: 23px, 23px;
  }
}