.header__main-menu {
  position: absolute;
  top: 132px;
  left: 0px;
  height: 1080px;
  width: 100%;
  transition: all 0.5s ease-out 0s;
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
  width: 50%;
}

@media (max-width:1499px) {
  .header__main-menu {
    width: 100%;
  }
}

@media (max-width:1023px) {
  .header__main-menu {
    top: 67px;
  }
}