.header__logo {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 132px;
  display: flex;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  margin: 0;
  padding:0;
  margin-left: 86px;
}

@media (max-width:1023px) {
  .header__logo {
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.22em;
    line-height: 67px;
    margin-left: 33px;
  }
}

@media (max-width:424px) {
  .header__logo {
    margin-left: 13px;
  }
}