.header__main-menu {
  position: absolute;
  top: 132px;
  left: 0px;
  height: 1080px;
  width: 100%;
  transition: all 0.5s ease-out 0s;
  transform: translateX(0px);
  visibility: visible;
  opacity: 1;
}

@media (max-width:1279px) {
  .header__main-menu {
    width: 100vw;
  }
}