.header__search-input {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 20rem;
  line-height: 27rem;
  letter-spacing: 0.015em;
  color: var(--color-gray-bg);
  border: none;
  border-bottom: 1px solid var(--color-gray-bg);
  background-color: inherit;
  margin: 0 137px;
  width: 100%;
}

@media (max-width:1023px) {
  .header__search-input {
    margin: 0 20px;
  }
}