:root {
  font-size: 1px;
  line-height: 1px;

  --color-orange: #F36956;
  --color-white: #F2F2F2;
  --color-second-white: #E5E5E5;
  --color-gray: #535353;
  --color-second-gray: #474849;
  --color-black: #333333;

  --color-primary-text: var(--color-orange);
  --color-primary-bg: var(--color-white);
  --color-opposite-text: var(--color-white);
  --color-opposite-bg: var(--color-orange);
  --color-gray-bg: var(--color-gray);
  --color-black-bg: var(--color-second-gray);
  --color-global-bg: var(--color-white);
}

:root.contrast {
  --color-primary-text: var(--color-black);
  --color-primary-bg: var(--color-white);
  --color-opposite-text: var(--color-white);
  --color-opposite-bg: var(--color-black);
  --color-gray-bg: var(--color-black);
  --color-black-bg: var(--color-black);
}

:root.small {
  font-size: 0.8px;
  line-height: 0.8px;
}

:root.large {
  font-size: 1.2px;
  line-height: 1.2px;
}